@using Microsoft.AspNetCore.Http
@model RegisterViewModel
<section class="mosh-service-area clearfix">
	<div class="container" style="margin-bottom:10%;">
		<div class="row" style="min-height: 700px;">
			@Html.Partial("_navigation_profile")


			<div class="col-sm-8" style="border: 1px solid grey; padding:10px;">
				<form asp-action="Edit" asp-controller="Profile" method="post" enctype="multipart/form-data">
					<div class="row" style="background-color:rgba(144, 14, 14, 0.06);">
						<div class="col-sm-12 text-left">
							<h5 style="Font-Family: Roboto;
font-weight: bold;
Font-Size: 16px;
Line-Height: 19px;
text-align: Left;">
								Profile
							</h5>
						</div>
					</div>
					<div class="row" style="margin-top:2%;">
						<div class="col-sm-7">


							<div class="row" style="margin: 10px auto;">
								<div class="col-sm-12">
									<h5 style="font-weight:bold; text-decoration:underline;">Data Diri</h5>

								</div>
							</div>
							<input type="hidden" asp-for="profileViewModel.Id" id="id" value="@Model.profileViewModel.Id" />

							<input type="hidden" asp-for="profileViewModel.UserId" id="userId" value="@Model.profileViewModel.UserId" />
							<input type="hidden" asp-for="profileViewModel.Picture" id="picture" value="@Model.profileViewModel.Picture" />
							<div class="row" style="margin: 10px auto;">
								<div class="col-sm-6">
									<label for="nama_lengkap">Nama Depan</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.firstname" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.firstname" required />

									</div>
								</div>
								<div class="col-sm-6">
									<label for="nama_lengkap">Nama Belakang</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.lastname" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.lastname" required/>

									</div>
								</div>
								<div class="col-sm-6">
									<label for="nama_lengkap">Address</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Address" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Address" />

									</div>
								</div>
								<div class="col-sm-6">
									<label for="password1">Email</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">

										<input type="email" asp-for="profileViewModel.Email" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Email" readonly />

									</div>
								</div>
								<div class="col-sm-6">
									<label for="password1">Nomor Handphone</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="number" asp-for="profileViewModel.PhoneNumber" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.PhoneNumber" />
									</div>
								</div>
								<div class="col-sm-6">
									<label for="password1">Jenis Kelamin</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="radio">
											@foreach (var item in Html.GetEnumSelectList<Gender>())
											{
												<label style="margin-right:2px"><input type="radio" asp-for="profileViewModel.gender" value="@item.Text" style="margin-right:2px;">@{if (item.Value == "1")
														{ <text>Laki-laki</text> }
														else { <text>Perempuan</text> } }</label>
											}
											@*<label style="margin-right:10%"><input type="radio" name="jk" value="pria" checked>Pria</label>
												<label><input type="radio" name="jk" value="wanita">Wanita</label>*@
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="password1">Tanggal Lahir</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Birthday" class="form-control date-picker" style="border:1px solid black" value="@Model.profileViewModel.Birthday.ToString("yyyy-MM-dd")" />
									</div>
								</div>

								<div class="col-sm-6">
									<label for="password1">No. Kartu Identitas</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="number" asp-for="profileViewModel.NoIdentitas" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.NoIdentitas" />
									</div>
								</div>
								<div class="col-sm-6">
									<label for="password1">Jenis Identitas</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<select class="form-control" id="sel1" asp-for="profileViewModel.jenisIdentitas" style="text-transform:uppercase">
											@*<option>KTP</option>*@
											@foreach (var item in Html.GetEnumSelectList<JenisIdentitas>())
											{
												@*<label style="margin-right:10%"><input type="radio" asp-for="profileViewModel.gender" value="@item.Text">@item.Text</label>*@
												<option value="@item.Text">@item.Text</option>
											}
										</select>
									</div>
								</div>

								<div class="col-sm-6">
									<label for="password1">Kota</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">

										<select class="form-control" asp-for="profileViewModel.dilolocation" asp-items="Html.GetEnumSelectList<Dilolocation>()" disabled></select>
										<input type="hidden" value="@Model.profileViewModel.dilolocation" asp-for="profileViewModel.dilolocation" id="dilolocation" />
									</div>
								</div>
							</div>



						</div>
						<div class="col-sm-5" style="border:1px solid grey">
							<div class="row" style="padding:20px 30px;margin-left:10%;margin-top:25%">
								@{ if (Model.profileViewModel.Picture != null)
									{
										<img src="https://dilo-image.apps.playcourt.id/profile/@Model.profileViewModel.Picture" alt="Avatar" style="width:170px;height:165px; border-radius: 50%;    border: 1px solid darkred;">
									}
									else
									{
										<img src="~/images/avatar.jpg" alt="Avatar" style="width:170px;height:165px; border-radius: 50%;    border: 1px solid darkred;">
									}
								}
							</div>
							<div class="row">
								<div class="col-10" style="margin-left:10%">
									<label>Foto Profil</label>
									<input type="file" class="form-control" name="picture_file" id="picture_file" />
								</div>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="row" style="margin: 10px auto;">
								<div class="col-sm-12">
									<h5 style="font-weight:bold; text-decoration:underline;">Media Sosial</h5>

								</div>
							</div>
							<div class="row" style="margin: 10px auto;">
								<div class="col-sm-6">
									<label for="password1">Linkedin</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Linkedin" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Linkedin" />

									</div>
								</div>
								<div class="col-sm-6">
									<label for="password1">Facebook</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Facebook" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Facebook" />

									</div>

								</div>
								<div class="col-sm-6">
									<label for="password1">Twitter</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Twitter" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Twitter" />

									</div>

								</div>
								<div class="col-sm-6">
									<label for="password1">Google+</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Google" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Google" />

									</div>

								</div>
								<div class="col-sm-6">
									<label for="password1">Instagram</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Instagram" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Instagram" />

									</div>

								</div>
								<div class="col-sm-6">
									<label for="password1">Website</label>

								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" asp-for="profileViewModel.Website" class="form-control" style="border:1px solid black" value="@Model.profileViewModel.Website" />

									</div>

								</div>


							</div>

						</div>

						<div class="col-sm-12 text-left">
							<a asp-controller="Profile" asp-action="Index" asp-route-id="@Context.Session.GetString("user_id")" class="btn btn-outline-dark" style="margin-right:1%">Batal</a>
							<button type="submit" class="btn btn-dark" style="width:12%">Simpan</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</section>