@using Microsoft.AspNetCore.Http
@model RegisterViewModel

<section class="mosh-service-area clearfix">
	<div class="container" style="margin-bottom:10%;">
		<div class="row" style="min-height: 700px;">
			@Html.Partial("_navigation_profile")


			<div class="col-sm-8" style="border: 1px solid grey; padding:10px;">
				<form asp-action="EditKeahlian" method="post">
					<div class="row" style="background-color:rgba(144, 14, 14, 0.06);">
						<div class="col-sm-12 text-left">
							<h5 style="Font-Family: Roboto;
font-weight: bold;
Font-Size: 16px;
Line-Height: 19px;
text-align: Left;">
								Keahlian
							</h5>
						</div>
					</div>
					<div class="row" style="margin-top:2%;">
						<input type="hidden" name="IdMember" value="@Model.profileViewModel.UserId" />
						<div class="col-sm-12">

							<input type="hidden" value="@Model.skill.IdCategory" id="ParentSkillValue" />
							@{foreach (var item in Model.skillChild)
								{
						<input type="hidden" value="@item.IdCategory" name="ChildSkillValue" />
					}
							}

							<div class="row" style="margin: 10px auto;">
								<div class="col-sm-4">
									<label for="nama_lengkap">Tipe Keahlian</label>

								</div>
								<div class="col-sm-8">
									<div class="form-group">

										<select class="form-control" id="keahlian1" name="ParentSkill">
											<option>--- Pilih Keahlian ---</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4">
									<label for="password1">Keahlian</label>

								</div>
								<div class="col-md-8">
									<div class="form-group">
										<select class="form-control js-example-basic-multiple" id="keahlian2" name="ChildSkill[]" multiple="multiple"></select>
									</div>
								</div>




							</div>



						</div>



						<div class="col-sm-12 text-right">
							<a asp-controller="Profile" asp-action="Index" asp-route-id="@Context.Session.GetString("user_id")" class="btn btn-outline-dark" style="margin-right:1%">Batal</a>
							<button type="submit" class="btn btn-dark" style="width:12%">Simpan</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</section>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/AuthenticateSkill.js"></script>
<script>
	$(document).ready(function () {
		$.getScript("/select2.min.js", function () {
			$('.js-example-basic-multiple').select2();
		});
	});
</script>